extends _base

block append head
    link(rel='stylesheet', href='/css/home.css')

block content 
    .container
        a(href="/applications") Applications
        a(href="/apply") New Apply
        a(href="/payment") Payment
    